.login {
	height: 100%;
	width: 100%;
	@include center;
	@include backgroundBottom;
	z-index: 980347093498;
	position: fixed;
	top: 0;
	left: 0;
	&>div {
		@include center;
		flex-direction: column;
		width: 100%;
		&>h1 {
			font-weight: 200;
			color: #fff;
			font-size: 8vh;
			margin: 0;
			transform: translateX(100px);
			opacity: 0;
		}
		&>div {
			@include center;
			flex-direction: column;
			width: 100%;
			margin-top: 10px;
			margin-bottom: 15px;
			transform: translateX(100px);
			opacity: 0;
			&>h2 {
				font-weight: 900;
				color: #E86D7A;
				margin: 0;
				margin-top: -5px;
				margin-bottom: 10px;
				font-size: 1.25em;
				text-align: center;
				width: 85%;
				max-width: 400px;
			}
			&>.input {
				width: 85%;
				max-width: 400px;
				position: relative;
				@include center;
				flex-direction: column;
				margin-bottom: 12.5px;
				position: relative;
				&::after {
					content: "";
					position: absolute;
					bottom: 0;
					left: 50%;
					width: 0%;
					height: 2px;
					background: #fff;
					transition-duration: 0.5s;
				}
				&::before {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 1px;
					background: #fff;
				}
				&>label {
					position: absolute;
					top: 0;
					left: 0;
					color: #fff;
					transform: translate(7.5%, 20px) scale(1.1);
					width: 100%;
					transition-duration: 0.3s;
					font-weight: 200;
				}
				&>input {
					appearance: none;
					padding: 0px;
					margin: 0;
					height: 50px;
					width: 100%;
					outline: none;
					border: none;
					background: transparent;
					color: #fff;
					font-weight: 200;
				}
			}
			&>.focus {
				&::after {
					width: 100%;
					left: 0%;
				}
				&>label {
					transform: translate(0%, -7.5px) scale(1);
				}
			}
		}
		&>.login-button {
			height: 40px;
			width: 85%;
			max-width: 400px;
			border: none;
			outline: none;
			border-radius: 0;
			background: transparent;
			color: #fff;
			border: 1px solid #fff;
			text-transform: uppercase;
			@include center;
			padding: 0;
			font-weight: 900;
			position: relative;
			transition: width 0.25s 0s, margin 0.25s 0s, border-radius 0.4s 0s, transform 0.5s 0s;
			transform: translateX(100px);
			opacity: 0;
			&>img {
				position: absolute;
				top: 15%;
				left: 15%;
				width: 70%;
				height: 70%;
				transform: scale(0);
				transition-duration: 0.2s;
				transition-delay: 0s;
			}
		}
		&>.login-thinking {
			margin-top: -5px;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			color: transparent;
			&>img:first-of-type {
				transform: scale(1);
				transition-delay: 0.2s;
			}
		}
		&>.login-thunk {
			&>img:first-of-type {
				transform: scale(0);
				transition-delay: 0s;
			}
			&>img:last-of-type {
				transform: scale(1);
				transition-delay: 0s;
			}
		}
		&>h3 {
			color: #fff;
			transform: translateX(100px);
			opacity: 0;
			&>a {
				color: #7DF1FF;
				cursor: pointer;
			}
		}
		&>img {
			height: 80px;
			width: 80px;
			margin: 0;
			margin-bottom: -10px;
			transform: scale(0) rotate(180deg);
		}
	}
}

.login-show {
	&>div {
		&>img {
			transform: scale(1) rotate(0deg);
			transition-duration: 0.3s;
			transition-delay: 0.5s;
			transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
		}
		&>h1,
		&>div,
		&>h3 {
			transform: translateX(0%);
			opacity: 1;
			transition-duration: 0.5s;
			transition-delay: 0s;
		}
		&>.login-button {
			transform: translateX(0%);
			opacity: 1;
		}
	}
}

.login-hide {
	transform: translateY(-100%);
	transition-duration: 0.5s;
}



.input {
	width: 85%;
	max-width: 400px;
	position: relative;
	@include center;
	flex-direction: column;
	margin-bottom: 12.5px;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 0%;
		height: 2px;
		background: #fff;
		transition-duration: 0.5s;
	}
	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background: #fff;
	}
	&>label {
		position: absolute;
		top: 0;
		left: 0;
		color: #fff;
		transform: translate(7.5%, 20px) scale(1.1);
		width: 100%;
		transition-duration: 0.3s;
		font-weight: 200;
	}
	&>input {
		appearance: none;
		padding: 0px;
		margin: 0;
		height: 50px;
		width: 100%;
		outline: none;
		border: none;
		background: transparent;
		color: #fff;
		font-weight: 200;
	}
}
.focus {
	&::after {
		width: 100%;
		left: 0%;
	}
	&>label {
		transform: translate(0%, -7.5px) scale(1);
	}
}