.header {
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	@include center;
	background: #0F776E;
	@include headerShadow;
	z-index: 98976876;
	@media #{$mq-670} {
		height: 80px;
	}
	&>div {
		width: 100%;
		@include center;
		justify-content: space-between;
		&>.contacts {
			border: none;
			outline: none;
			padding: 0;
			background: url('people.svg') no-repeat center;
			background-size: 35px 35px;
			height: 40px;
			width: 40px;
			margin-left: 10px;
			@media #{$mq-670} {
				width: 60px;
				height: 60px;
				background-size: 45px 45px;
			}
		}
		&>.logo {
			background: url('piper.jpg') no-repeat center;
			background-size: contain;
			margin-top: 2.5px;
			height: 45px;
			width: 100px;
			@media #{$mq-670} {
				width: 150px;
				height: 75px;
			}
		}
		&>#burg {
			height: 40px;
			width: 40px;
			@media #{$mq-670} {
				width: 60px;
				height: 60px;
			}
		}
	}
}