.friend-list {
	position: absolute;
	top: 50px;
	left: 0;
	width: 70%;
	height: calc(100% - 50px);
	max-height: calc(100% - 50px);
	background: #E3EBF0;
	@include center;
	@include rightShadow;
	z-index: 10000;
	transform: translateX(-110%);
	transition-duration: 0.3s;
	overflow: hidden;
	@media #{$mq-670} {
		width: 400px;
		height: calc(100% - 80px);
		top: 80px;
	}
	&>div {
		@include center;
		justify-content: flex-start;
		flex-direction: column;
		height: 100%;
		width: 100%;
		transition-delay: 0s;
		position: relative;
		&>.list-header {
			position: fixed;
			top:0;
			left: 0;
			width: 100%;
			z-index: 3;
			@include center;
			background: #EBEDF1;
			flex-direction: column;
			justify-content: space-between;
			border-bottom: 1px solid #D0D7DB;
			&>.piper {
				width: 100%;
				@include center;
				align-items: flex-end;
				flex-direction: row;
				height: 50px;
				margin-top: 10px;
				margin-bottom: 5px;
				&>.icon {
					height: 50px;
					width: 50px;
					background: url('ppg.svg') no-repeat bottom;
					background-size: 50px 50px;
				}
				&>h2 {
					align-self: center;
					margin: 0;
					padding: 0;
					font-weight: 600;
					color: $plite;
					font-size: 1.75em;
					margin-top: 7.5px;
				}
			}
			&>.add-friend {
				width: 90%;
				@include center;
				height: 30px;
				margin-top: 10px;
				&>input {
					font-size: 0.9em;
					height: 30px;
					width: 100%;
					margin: 0;
					padding: 0;
					background: transparent;
					border-radius: 100px;
					background: #fff;
					outline: none;
					border: none;
					text-align: center;
					margin-top: -20px;
				}
			}
		}
		&>.list {
			width: 100%;
			height: calc(100% - 105px);
			max-height: calc(100% - 105px);
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
			margin-top: 105px;
			overflow-x: hidden;
			display: block;
			&>.contact {
				width: 100%;
				height: 50px;
				@include center;
				border-bottom: 1px solid #D0D7DB;
				cursor: pointer;
				position: relative;
				opacity: 0;
				transform: translateX(-100%);
				transition-duration: 0.3s;
				&:hover {
					background: #fff;
					transform: translateX(100px);
					&>.call-message>div>button {
						transform: rotate(0deg) scale(1);
						transition-delay: 0.1s;
					}
				}
				&>div {
					@include center;
					width: 100%;
					flex-direction: row;
					justify-content: space-between;
					width: 90%;
					&>img {
						height: 35px;
						width: 35px;
						border-radius: 50%;
						overflow: hidden;
						@include buttonShadow;
						border: none;
						outline: none;
						margin: 0;
						padding: 0;
						@include center;
					}
					&>h3 {
						color: #7A7E80;
						font-weight: 500;
						font-size: 1em;
					}
					&>.online {
						height: 10px;
						width: 10px;
						background: green;
						border-radius: 50%;
					}
				}
				&>.call-message {
					position: absolute;
					top: 0;
					left: 0;
					height: calc(100% + 1px);
					width: 100px;
					@include center;
					transform: translateX(-100%);
					border-bottom: 1px solid #D0D7DB;
					border-right: 1px solid #D0D7DB;
					background: #fff;
					&>div {
						width: 80px;
						height: 100%;
						@include center;
						justify-content: space-between;
						&>button {
							outline: none;
							border: none;
							height: 35px;
							width: 35px;
							background: blue;
							border-radius: 50%;
							background: #557AF0 url('chat.svg') no-repeat center;
							background-size: 15px 15px;
							transform: rotate(-180deg) scale(0);
							transition-duration: 0.35s;
							@include buttonShadow;
							padding: 0;
						}
						&>button:last-of-type {
							background: #4DDB90 url('call.svg') no-repeat center;
							background-size: 17.5px 17.5px;
						}
					}
				}
			}
			&>.user {
				width: 100%;
				height: 50px;
				@include center;
				border-bottom: 1px solid #D0D7DB;
				cursor: pointer;
				position: relative;
				// opacity: 0;
				// transform: translateX(-100%);
				// transition-duration: 0.3s;
				&>div {
					@include center;
					width: 100%;
					flex-direction: row;
					justify-content: space-between;
					width: 90%;
					&>img {
						height: 35px;
						width: 35px;
						border-radius: 50%;
						overflow: hidden;
						@include buttonShadow;
						border: none;
						outline: none;
						margin: 0;
						padding: 0;
						@include center;
					}
					&>h3 {
						color: #7A7E80;
						font-weight: 500;
						font-size: 1em;
					}
					&>.add-new {
						width: 50px;
						height: 50px;
						@include center;
						&>button {
							height: 35px;
							width: 35px;
							outline: none; 
							border: none;
							border-radius: 50%;
							background: $plite url('addperson.svg') no-repeat 45% 50%;
							background-size: 20px 20px;
							@include buttonShadow;
						}
						&>div {
							height: 35px;
							width: 35px;
							outline: none; 
							border: none;
							border-radius: 50%;
							background: $plite url('loader.gif') no-repeat center;
							background-size: contain;
							@include buttonShadow;
						}
					}
					&>.accept-deny {
						width: 80px;
						height: 100%;
						@include center;
						justify-content: space-between;
						&>button {
							outline: none;
							border: none;
							height: 35px;
							width: 35px;
							background: blue;
							border-radius: 50%;
							background: #D43647 url('x.svg') no-repeat center;
							background-size: 22.5px 22.5px;
							@include buttonShadow;
							padding: 0;
						}
						&>button:last-of-type {
							background: $plite url('check.svg') no-repeat center;
							background-size: 22.5px 22.5px;
						}
					}
				}
			}
		}
	}
}

.friend-list-show {
	transform: translateX(0%);
	&>div>.list>.contact{	
		transform: translateX(0%);
		opacity: 1;
		transition-delay: 0.05s;
	}
}