.dashboard {
	height: calc(100% - 50px);
	width: 100%;
	@include center;
	// position: relative;
	&>div {
		@include center;
		background: #4C4C4C;
		&>#me {
			position: absolute;
			bottom: 20px;
			right: 10px;
			border-radius: 5px;
			background: #0F776E url('loader.gif') no-repeat center;
			background-size: 50px 50px;
			@include headerShadow;
			cursor: grab;
			z-index: 10;
			&:active {
				cursor: grabbing;
			}
		}
		&>#you {
			background: #4C4C4C url('loader.gif') no-repeat center;
			background-size: 50px 50px;
			position: relative;
		}
		&>.error {
			width: 90%;
			max-width: 450px;
			@include center;
			flex-direction: column;
			color: $piper;
			background: #fff;
			padding: 30px 20px;
			border-radius: 5px;
			@include headerShadow;
			&>h2,
			&>h3,
			&>p {
				width: 90%;
				text-align: center;	
				margin: 0;
			}
			&>h2 {
				color: #D13D47;
				font-size: 1em;
				width: 100%;
			}
			&>h3 {
				margin-top: 10px;
				margin-bottom: 10px;
				font-size: 1em;
				width: 100%;
			}
			&>p {
				width: 100%;
			}
		}
	}
	&>.calling {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: rgba(#000, 0.75);
		@include center;
		flex-direction: column;
		visibility: hidden;
		opacity: 0;
		transform: scale(0);
		transition: opacity 0.3s, transform 0s 1.3s;
		z-index: 11;
		&>.loader-pic {
			margin-top: 25px;
			height: 50px;
			width: 50px;
			background: url('loader.gif') no-repeat center;
			background-size: contain;
			transform: scale(0);
			transition-duration: 0.3s;
		}
		&>.answer-deny {
			position: absolute;
			bottom: 10%;
			left: calc(50% - 90px);
			width: 180px;
			@include center;
			&>button {
				visibility: collapse;
				width: 70px;
				height: 70px;
				outline: none;
				border: none;
				border-radius: 50%;
				@include headerShadow;
				transform: translateY(500px);
				opacity: 0;
				transition-duration: 0.4s;
			}
			&>button:first-of-type {
				background: rgba(#EC4653, 0.95) url('hangup.svg') no-repeat 50% 42.5%;
				background-size: 37.5px 37.5px;
				z-index: 30;
			}
			&>button:last-of-type {
				background: rgba(#58EA6F, 0.95) url('call.svg') no-repeat 50% 42.5%;
				background-size: 37.5px 37.5px;
				width: 0px;
				z-index: 30;
			}
		}
	}
	&>.calling-show {
		visibility: visible;
		opacity: 1;
		transform: scale(1);
		transition: opacity 0.3s;
		&>.loader-pic {
			transform: scale(1);
			transition-delay: 0.2s;
		}
		&>.answer-deny>button:first-of-type {
			visibility: visible;
			transform: translateY(0px);
			opacity: 1;
			transition-delay: 0.3s;
		}
	}
	&>.receiving-call {
		visibility: visible;
		opacity: 1;
		transform: scale(1);
		transition: opacity 0.3s;
		&>.loader-pic {
			transform: scale(1);
			transition-delay: 0.2s;
		}
		&>.answer-deny {
			justify-content: space-between;
			z-index: 11;
		}
		&>.answer-deny>button {
			visibility: visible;
			transform: translateY(0px);
			opacity: 1;
			transition-delay: 0.5s;
			z-index: 30;
			transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
		}
		&>.answer-deny>button:last-of-type {
			visibility: visible;
			transform: translateY(0px);
			opacity: 1;
			transition: transform 0.5s 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), width 0s;
			width: 70px;
			z-index: 30;
		}
	}
	&>.received {
		background: transparent;
		z-index: 5;
		&>.loader-pic {
			transform: scale(0);
		}
		&>.answer-deny {
			justify-content: center;
			z-index: 11;
		}
		&>.answer-deny>button:last-of-type {
			width: 0px;
			transition-duration: 0.3s;
		}
	}
}