.dashboard {
	height: calc(100% - 50px);
	width: 100%;
	@include center;
	&>div {
		@include center;
		background: #4C4C4C;
		&>#me {
			position: absolute;
			bottom: 20px;
			right: 10px;
			border-radius: 5px;
			background: #0F776E url('loader.gif') no-repeat center;
			background-size: 50px 50px;
			@include headerShadow;
			cursor: grab;
			&:active {
				z-index: 10;
				cursor: grabbing;
			}
		}
		&>#you {
			background: #4C4C4C url('loader.gif') no-repeat center;
			background-size: 50px 50px;
		}
		&>.error {
			width: 90%;
			max-width: 450px;
			@include center;
			flex-direction: column;
			color: $piper;
			background: #fff;
			padding: 30px 20px;
			border-radius: 5px;
			@include headerShadow;
			&>h2,
			&>h3,
			&>p {
				width: 90%;
				text-align: center;	
				margin: 0;
			}
			&>h2 {
				color: #D13D47;
				font-size: 1em;
				width: 100%;
			}
			&>h3 {
				margin-top: 10px;
				margin-bottom: 10px;
				font-size: 1em;
				width: 100%;
			}
			&>p {
				width: 100%;
			}
		}
	}
}