.menu {
	position: absolute;
	top: 50px;
	right: 0;
	width: 70%;
	height: calc(100% - 50px);
	background: #E3EBF0;
	@include center;
	align-items: flex-start;
	@include leftShadow;
	z-index: 10000;
	transform: translateX(100%);
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	transition-duration: 0.3s;
	@media #{$mq-670} {
		width: 400px;
		height: calc(100% - 80px);
		top: 80px;
	}
	&>div {
		@include center;
		width: 100%;
		flex-direction: column;
		position: relative;
		&>.prof {
			margin-top: 20px;
			width: 100%;
			flex-direction: column;
			@include center;
			&>.image {
				height: 100px;
				width: 100px;
				border-radius: 50%;
				overflow: hidden;
				@include center;
				transition-duration: 0.3s;
				position: relative;
				background: #fff;
				background-size: cover;
				&>img {
					@include center;
					height: 100px;
					width: auto;
					backface-visibility: hidden;
					transition-duration: 0.4s;
					overflow: hidden;
					border-radius: 50%;
					// transform: scale(1.1);
				}
				&>.upload{
					@include center;
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					color: transparent;
					transform: rotateY(-180deg);
					backface-visibility: hidden;
					transition-duration: 0.3s;
					transform-origin: 50% 50%;
					background: #fff url('upload.svg') no-repeat center;
					background-size: 50px 50px;
					cursor: pointer;
					&>input {
						outline: none;
						border: none;
						-moz-appearance: none;
						-webkit-appearance: none;
						-ms-appearance: none;
						appearance: none;
						height: 100%;
						width: 100%;
						color: transparent;
						background: transparent;
						opacity: 0;
					}
				}
			}
			&>h2 {
				color: #7F8486;
				font-weight: 400;
				width: 100%;
				text-align: center;
				transition-duration: 0.3s;
			}
		}
		&>.prof-flip {
			&>.image {
				transform: rotateY(180deg);
				@include headerShadow;
				&>.upload {
					transform: rotateY(0deg);
				}
				&>img {
					opacity: 0;
				}
			}
			&>h2 {
				transform: translateX(-100%);
			}
		}
		&>.profile {
			position: fixed;
			top: 120px;
			left: 0;
			height: auto;
			width: 100%;
			@include center;
			&>.input {
				@include center;
				flex-direction: column;
				transform: translateX(110%);
				transition-duration: 0.3s;
				position: relative;
				&::after,
				&::before {
					background: $plite;
				}
				&>label {
					color: $piper;
				}
				&>input {
					color: $plite;
				}
			}
		}
		&>.profile-show {
			&>.input {
				transform: translateX(0%);
			}
		}
		&>.options {
			width: 100%;
			@include center;
			flex-direction: column;
			border-top: 1px solid #C1C1C1;
			margin-bottom: 20px;
			&>button {
				outline: none;
				border: none;
				height: 40px;
				background: transparent;
				width: 100%;
				color: #828282;
				border-bottom: 1px solid #C1C1C1;
				transition-duration: 0.3s;

			}
		}
		&>button {
			width: 80%;
			max-width: 250px;
			outline: none;
			border: none;
			background: #E8454D;
			color: #fff;
			height: 45px;
			border-radius: 5px;
			@include buttonShadow;
			text-transform: uppercase;
		}
	}
}


.menu-show {
	transform: translateX(0%);
}